<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Password category</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Password Management System</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Password Category
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/add-new-category">add new category</a>
              <a class="dropdown-item" href="/passwordcategory">view category</a>
          
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Password Details
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/add-new-password">add new password </a>
              <a class="dropdown-item" href="/view-all-passwords">view all passwords</a>
          
            </div>
          </li>


        </ul>
      </nav>
<br>
<h1>Password list</h1>
<table style="width: 100%;">
  <thead>
      <tr>
         <th>password category name</th>
         <th>password details</th>
         <th>Action</th>

      </tr>
  
  </thead>

  <tbody>
      <tr>
          <td>Godaddy</td>
          <td>password details blah blah</td>
          <td><i class="far fa-trash-alt"></i></td>
      </tr>
  </tbody>
</table>

<script src="https://kit.fontawesome.com/d418892169.js" crossorigin="anonymous"></script>
</body>
</html>
